@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* slick carousel default styles */

@import "tailwindcss";

@font-face {
  font-family: "Qanelas-bold";
  src: url("./assets/fonts/Qanelas-bold.otf");
}
@font-face {
  font-family: "Qanelas-medium";
  src: url("./assets/fonts/Qanelas-medium.otf");
}
@font-face {
  font-family: "Qanelas-light";
  src: url("./assets/fonts/Qanelas-light.otf");
}
@font-face {
  font-family: "Nexa";
  src: url("./assets/fonts/Nexa.woff");
}
* {
  font-family: "Poppins", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  transition: all 0.35s ease-in;
  scroll-behavior: smooth;
  letter-spacing: -0.03rem;
}
body,
html {
  overflow-x: hidden;
  color: #09090b;
  font-weight: 500;
}

.font-primary {
  font-family: "Nexa" !important;
}
.bg-primary {
  background-color: #013a71 !important;
}
.text-primary {
  color: #013a71 !important;
}
.border-primary {
  border-color: #013a71 !important;
}
.button-primary {
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  gap: 0.5rem;
  color: #ffffff;
  padding: 10px 24px;
  border-radius: 0.2rem;
  background-color: #013a71;
  font-size: 14px;
}
.shadow-primary {
  box-shadow: -5px 15px 25px -5px #d4d4d8a9;
}
.maxheight0 {
  transition: all 0.5s ease-in;
  max-height: 0px;
}
.maxheightfull {
  transition: all 0.5s ease-in;
  max-height: 1000px;
}
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom {
  z-index: 0 !important;
}
.loader {
  animation: l1 1s linear infinite alternate;
}
.loader:before {
  content: "RentaHome";
}
@keyframes l1 {
  to {
    opacity: 0;
  }
}
.spinner {
  animation: rotation 0.7s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
    color: rgb(107, 114, 128);
  }
  100% {
    transform: rotate(360deg);
  }
}
